{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  Browse Edit Set – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
<!--
  <div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      beta
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
  </div>
  -->
{% endblock %}

{% block content %}

<div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" data-module="govuk-error-summary">
  <h2 class="govuk-error-summary__title" id="error-summary-title">
    There is a problem
  </h2>
  <div class="govuk-error-summary__body">
    <ul class="govuk-list govuk-error-summary__list">
      <li>Username and/or password is incorrect.</li>
    </ul>
  </div>
</div>

<form class="form" action="/edit-set" method="post">

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half">
    <h1 class="govuk-heading-m">Sign in: Pan-Archival Catalogue</h1>
    <div class="govuk-form-group govuk-form-group--error">
      <p id="username-error" class="govuk-error-message">
        <span class="govuk-visually-hidden">Error:</span> Enter a username
      </p>
      <label class="govuk-label" for="event-name">Username</label>
      <input class="govuk-input govuk-input--error" id="username" name="username" type="text" autofocus="autofocus"/>
    </div>
    <div class="govuk-form-group govuk-form-group--error">
      <p id="username-error" class="govuk-error-message">
        <span class="govuk-visually-hidden">Error:</span> Enter a password
      </p>
      <label class="govuk-label" for="password">Password</label>
      <input class="govuk-input govuk-input--error" id="password" name="password" type="text">
    </div>
    <button class="govuk-button" data-module="govuk-button">Sign In</button>
  </div>
</div>
</form>

{% endblock %}
